# Data files
data/*
*.parquet
*.csv
*.json
!data/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep

# Python Caches and Environment
__pycache__/
*.pyc
venv/
.env

# IDE and OS specific
.vscode/
.idea/
.DS_Store
